@font-face {
    font-family: 'Bastro';
    src: url('./fonts/BastroRegular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caudex-Bold';
    src: url('./fonts/Caudex-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caudex';
    src: url('./fonts/Caudex.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maghfirea';
    src: url('./fonts/MaghfireaRegular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WaterBrush';
    src: url('./fonts/WaterBrush-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

 :root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-red: #EB5E28;
    --color-grey: #D9D9D9;
    --color-beige: #CCC5B9;
    --color-dark-grey: #403D39;

    --border: 2px solid var(--color-red);

    --font-family-base: 'Maghfirea', sans-serif;
    --fonts-family-accent: 'Caudex', sans-serif;
    --font-size-3xl-2: 22.2px;
    --font-size-lg: 18px;

    --container-width: 1167px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

}

body {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 22.21;
    line-height: 1.2;
    color:#000000;
    background-color: var(--color-light);
    }

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-beige);
}

a:hover {
    color: var(--color-light);
}

 .container {
    max-width: calc(var(--container-width) + var(--container-padding-x)*2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
 }


 h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    text-transform: uppercase;
 }


 header {
    padding-inline: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    background-color: var(--color-dark-grey);
    height: 74px;
 }

 .header-menu-list {
    display: flex;
    column-gap: 37px;
    font-family: var(--fonts-family-accent);
 }

 .header-menu-icons-list {
    display: flex;
    column-gap: 31px;
 }

 .header-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
 }

 .header-menu-link_1 {
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    color: var(--color-red);
 }

 .header-menu-right {
  display: flex;
  column-gap: 61px;
 }

 @media (max-width: 1380px) {
  .header {
    flex-wrap: wrap;
    height: auto;
  } 
  .header-menu-list {
    flex-wrap: wrap;
    column-gap: 10px;
  }
  .header-menu-icons-list { 
    order: 1;
    flex-basis: 100%;
    column-gap: 8px
  }
  .header-menu-right {
    column-gap: 12px;
    flex-wrap: wrap;
  }
 }

 .middle {
  display: flex;
  margin-inline: 360px;
  column-gap: 50px;
 }

 .catalog-body {
  padding: 60px 0px 80px;
  margin-inline: 360px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  
 }

 /* Checkbox */
 .checkbox{
  position: relative;
  display: flex;
 }

 .checkbox_input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
 }

 .checkbox_label{
  padding-left: 64px;
  
 }

 .checkbox_label:before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;

  border: 3px solid #EB5E28;
  border-radius: 12px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
 }



 .checkbox_input:checked + .checkbox_label::before {
  background: #EB5E28;
  border-color: #EB5E28;
 }

 .catalog {
    font-size: 46px;
    font-family: 'Bastro';
 }

 .category {
    display: flex;
    align-items:first baseline;
    column-gap: 49px;
    font-size: 22px;
    font-family: "Caudex";
 }

 .filter {
  width: 276px;

  display:grid;
  padding-bottom: 40px;
 }

 .praces {
  display: flex;
  align-items:center;
  flex-direction:row;
  justify-content: space-between;
  font-size: 42px;
  font-family: 'Maghfirea';
}

.genre-title {
  padding: 20px 0px 10px;
  display: flex;
  align-items:center;
  flex-direction:row;
  justify-content: space-between;
  font-size: 42px;
  font-family: 'Maghfirea';
}
.genre-content {
  display: flex;
  column-gap: 33px;
  font-size: 22px;
  font-family: "Caudex";
  padding: 20px 0px 0px;
}
.format-title {
  padding: 60px 0px 10px;
  display: flex;
  align-items:center;
  flex-direction:row;
  justify-content: space-between;
  font-size: 42px;
  font-family: 'Maghfirea';
}
.format-content {
  display: flex;
  column-gap: 33px;
  font-size: 22px;
  font-family: "Caudex";
  padding: 20px 0px 0px;
}
.stock_status-title {
  padding: 60px 0px 10px;
  display: flex;
  align-items:center;
  flex-direction:row;
  justify-content: space-between;
  font-size: 42px;
  font-family: 'Maghfirea';
}
.stock_status-content {
  display: flex;
  column-gap: 33px;
  font-size: 22px;
  font-family: "Caudex";
  padding: 20px 0px 0px;
}

.frame-child{
  position: absolute;
  
  border-radius: 22.65px;
  background-color: #d9d9d9;
  width: 250px; 
  height: 221px;
}
 .products{ 
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  position: relative;
  column-gap: 40px;
  overflow: auto;
  box-sizing: border-box;
  letter-spacing: normal;
  text-align: left;
  margin-left: auto;

 }

 .frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  justify-content: flex-end;
  padding: 200px 90px 0px 90px;
  position: relative;
 }

.rectangle-parent {
    height: 221px;
    position: absolute;
    margin: 0;
    top: 0;
    right: 72px;
    left: 0;
}

 .heart_black {
  position: absolute;
  overflow: hidden;
  top: 8.5px;
  right: 20px;
  width: 19px;
  height: 19px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 3;
  flex-shrink: 0;
  object-fit: contain;
  top: 8.5px;

  left: 216px;
 }

 .vinyl_record {
  height: 172px;
  width: 183px;
  top: 7.92%;
  right: 0;
  bottom: 14.21%;
  left: 26.99%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  overflow: hidden;
 }

.cover {
  position: absolute;
  overflow: hidden;
  height: 161px;
  width: 161px;
  top: 12.67%;
  right: 30.23%;
  bottom: 14.34%;
  left: 5.28%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
} 

.song-author-cost {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.song-author { 
  position: relative;
  z-index: 3;
}

.song{ 
  font-family: 'Maghfirea';
  font-size: 22px;
  margin: 0;
} 

.author{ 
  font-family: 'Maghfirea';
  font-size: 22px;
  margin: 0; 
}

.cost { 
  position: relative;
  display: inline-block;
  font-family: 'Caudex-Bold';
  font-size: 22px;
  white-space: nowrap;
  margin-top: -0.4px; 
}


@media screen and (max-width: 1880px) {
  .products {
    flex-wrap: wrap;
    height: 100px;
    order: 1;
    flex-basis: 100%;
    height: auto;
    display: flex;
    column-gap: 10px;
    margin-inline: 200px;
  }
}
 


 .footer {
  padding-inline: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-grey);
  height: 300px;
  column-gap: 20px;
 }

 .footer-menu-list {
  display: flex;
  column-gap: 50px;
  
  font-family: var(--fonts-family-accent);
}


.footer-menu-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
}

.logo_top {
  font-size: 41px;
  font-family: 'Bastro';
  color: var(--color-light);
}
.logo_bottom {
  font-size: 22px;
  font-family: 'Maghfirea';
  color: var(--color-light);
}

.payment {
  font-size: 22px;
  font-family: 'Maghfirea';
  color: var(--color-light);
  }

.payment_images {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

  
@media (max-width: 1600px) {
  .middle {
    display: flex;
    margin-inline: 40px;
  }
  .footer {
    flex-wrap: wrap;
    height: 100px;
    order: 1;
    flex-basis: 100%;
    height: auto;
  } 
  .footer-menu-list {
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .payment {
    flex-wrap: wrap;
  }
 }
